<div class="content">
    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container-fluid pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-7 my-3 my-lg-auto">
                    <!-- <div>
                                <img src="images/register.png" class="img-fluid mx-auto d-block" alt="login-image" />
                            </div> -->
                </div>
                <div class="col-12 col-md-12 col-lg-5 my-3 my-lg-auto px-1 py-4 p-md-2">

                    <h5>Sign UP For Free</h5>

                    <form>
                        <div class="form-group">
                            <div class="fs13 font-weight-500"><span>Already have an account ?</span>
                                <a routerLink="/Login" class="text-red pl-1"> SignIn.</a></div>
                                
                        </div>
                        <div class="form-group">
                            <label>Full Name</label>
                            <div class="inputWithIcon">
                                <input type="text" name="" id="" class="form-control" placeholder="Full Name" />
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <div class="inputWithIcon">
                                <input type="text" name="" id="" class="form-control" placeholder="E-mail" />
                                <i class="far fa-envelope"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <div class="inputWithIcon">
                                <input type="text" name="" id="" class="form-control" placeholder="Mobile Number" />
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Create Password</label>
                            <div class="inputWithIcon">
                                <input type="password" class="form-control" id="password" placeholder="Create Password"
                                    name="password" />
                                <i class="fas fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <div class="inputWithIcon">
                                <input type="password" class="form-control" id="password" placeholder="Confirm Password"
                                    name="password" />
                                <i class="fas fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative">
                            <input type="checkbox" class="signup-checkbox" name="">
                            <span class="pl25">I Accept <a href="#" class="text-red">Terms & Conditions</a> and <a
                                    href="#" class="text-red">Privacy Policy</a></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-red fs13 w-100 border-radius-10">SIGN UP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>