<div class="content">
    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <div class="row px-3">

            <!-- filters start -->

            <div class="col-12 col-md-12 col-lg-3 mt-3 mt-md-1 shadow pb-0 z-999">
                <div class="row">
                    <div class="col-12 py-4 bg-light border-bottom px30">
                        <div class="">
                            <span class="fs18 font-weight-bold">Browse Services</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-3">
                        <ul class="list-unstyled categories-sidemenu">
                            <li>
                                <a class="category_navlink category_active_tab" target-id="#plumbing-services">Plumbing
                                    Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="#electrical-services">Electrical Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="#painting-services">Painting Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Mason Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Tiles Work Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Carpenter Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Building Material Services</a>
                            </li>

                            <li>
                                <a class="category_navlink" target-id="">Home Plan Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Permission</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Structural Plan Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Registration of Property</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">New Tap Connection Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Home Mortgage Services</a>
                            </li>
                            <li>
                                <a class="category_navlink" target-id="">Electric Meter Services</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- filters end -->

            <!-- Right side block start -->

            <div class="col-12 col-md-12 col-lg-9 px-md-0 pl35 pr-4 pb-5">

                <div class="row active_tab" id="plumbing-services">
                    <div class="col-12 my-4 my-md-2 px-3">
                        <app-service-card-long></app-service-card-long>
                    </div>
                </div>

                <!-- End ofPlumbing Services -->

                <!-- Electrical Services -->

                <div class="row" id="electrical-services" style="display:none;">
                    <div class="col-12 my-2 px-3">
                        <div class="shadow px-3 border-radius-5">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3 px-0">
                                    <div>
                                        <img src="assets/images/electrical-services.jpg" class="img-fluid w-100" alt="" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 py-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="fs16 font-weight-bold">XYZ Electrical Services</div>
                                            <div class="py-2">
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <span class="pl10">4.0 Out Of 5</span>
                                                <span class="pl30">130 reviews</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-3">
                                            <div>
                                                <a href="#" class="btn btn-sm btn-primary mr-2 my-1">Furniture
                                                    Repair</a>
                                                <a href="#" class="btn btn-sm btn-success mr-2 my-1">Furniture Sale</a>
                                                <a href="#" class="btn btn-sm btn-info my-1">Furniture Manufacturer</a>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Contact :</span><span
                                                    class="pl5">8639930690</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Address :</span><span
                                                    class="pl5">Kukatpally, Hyderabad</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-12 col-md-12 col-lg-7 my-auto">
                                            <span class="font-weight-bold">Timings :</span><span class="pl5">9.00 am -
                                                10.00 pm</span>
                                            <a href="#" class="btn btn-sm btn-light  ml-0 ml-md-2 mt-2 mt-sm-0">Open
                                                Now</a>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-5 my-3 my-md-auto">
                                            <div class="text-center text-lg-right">
                                                <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                                                <a href="services_inner.html"
                                                    class="btn btn-md card-view-details-btn text-white">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-4 my-md-2 px-3">
                        <div class="shadow px-3 border-radius-5">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3 px-0">
                                    <div>
                                        <img src="images/plumbing.jpg" class="img-fluid w-100" alt="" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 py-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="fs16 font-weight-bold">ABC Plumbing</div>
                                            <div class="py-2">
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <span class="pl10">4.0 Out Of 5</span>
                                                <span class="pl30">130 reviews</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-3">
                                            <div>
                                                <a href="#" class="btn btn-sm btn-primary mr-2 my-1">Furniture
                                                    Repair</a>
                                                <a href="#" class="btn btn-sm btn-success mr-2 my-1">Furniture Sale</a>
                                                <a href="#" class="btn btn-sm btn-info my-1">Furniture Manufacturer</a>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Contact :</span><span
                                                    class="pl5">8639930690</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Address :</span><span
                                                    class="pl5">Kukatpally, Hyderabad</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-12 col-md-12 col-lg-7 my-auto">
                                            <span class="font-weight-bold">Timings :</span><span class="pl5">9.00 am -
                                                10.00 pm</span>
                                            <a href="#" class="btn btn-sm btn-light  ml-0 ml-md-2 mt-2 mt-sm-0">Open
                                                Now</a>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-5 my-3 my-md-auto">
                                            <div class="text-center text-lg-right">
                                                <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                                                <a href="services_inner.html"
                                                    class="btn btn-md card-view-details-btn text-white">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-2 px-3">
                        <div class="shadow px-3 border-radius-5">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3 px-0">
                                    <div>
                                        <img src="images/painting-service.jpg" class="img-fluid w-100" alt="" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 py-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="fs16 font-weight-bold">Demo Painting Services</div>
                                            <div class="py-2">
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <span class="pl10">4.0 Out Of 5</span>
                                                <span class="pl30">130 reviews</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-3">
                                            <div>
                                                <a href="#" class="btn btn-sm btn-primary mr-2 my-1">Furniture
                                                    Repair</a>
                                                <a href="#" class="btn btn-sm btn-success mr-2 my-1">Furniture Sale</a>
                                                <a href="#" class="btn btn-sm btn-info my-1">Furniture Manufacturer</a>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Contact :</span><span
                                                    class="pl5">8639930690</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Address :</span><span
                                                    class="pl5">Kukatpally, Hyderabad</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-12 col-md-12 col-lg-7 my-auto">
                                            <span class="font-weight-bold">Timings :</span><span class="pl5">9.00 am -
                                                10.00 pm</span>
                                            <a href="#" class="btn btn-sm btn-light  ml-0 ml-md-2 mt-2 mt-sm-0">Open
                                                Now</a>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-5 my-3 my-md-auto">
                                            <div class="text-center text-lg-right">
                                                <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                                                <a href="services_inner.html"
                                                    class="btn btn-md card-view-details-btn text-white">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End of Electrical Services -->

                <!-- Painting Services -->

                <div class="row" id="painting-services" style="display:none;">
                    <div class="col-12 my-2 px-3">
                        <div class="shadow px-3 border-radius-5">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3 px-0">
                                    <div>
                                        <img src="images/painting-service.jpg" class="img-fluid w-100" alt="" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 py-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="fs16 font-weight-bold">Demo Painting Services</div>
                                            <div class="py-2">
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <span class="pl10">4.0 Out Of 5</span>
                                                <span class="pl30">130 reviews</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-3">
                                            <div>
                                                <a href="#" class="btn btn-sm btn-primary mr-2 my-1">Furniture
                                                    Repair</a>
                                                <a href="#" class="btn btn-sm btn-success mr-2 my-1">Furniture Sale</a>
                                                <a href="#" class="btn btn-sm btn-info my-1">Furniture Manufacturer</a>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Contact :</span><span
                                                    class="pl5">8639930690</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Address :</span><span
                                                    class="pl5">Kukatpally, Hyderabad</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-12 col-md-12 col-lg-7 my-auto">
                                            <span class="font-weight-bold">Timings :</span><span class="pl5">9.00 am -
                                                10.00 pm</span>
                                            <a href="#" class="btn btn-sm btn-light  ml-0 ml-md-2 mt-2 mt-sm-0">Open
                                                Now</a>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-5 my-3 my-md-auto">
                                            <div class="text-center text-lg-right">
                                                <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                                                <a href="services_inner.html"
                                                    class="btn btn-md card-view-details-btn text-white">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-2 px-3">
                        <div class="shadow px-3 border-radius-5">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3 px-0">
                                    <div>
                                        <img src="images/electrical-services.jpg" class="img-fluid w-100" alt="" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 py-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="fs16 font-weight-bold">XYZ Electrical Services</div>
                                            <div class="py-2">
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <span class="pl10">4.0 Out Of 5</span>
                                                <span class="pl30">130 reviews</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-3">
                                            <div>
                                                <a href="#" class="btn btn-sm btn-primary mr-2 my-1">Furniture
                                                    Repair</a>
                                                <a href="#" class="btn btn-sm btn-success mr-2 my-1">Furniture Sale</a>
                                                <a href="#" class="btn btn-sm btn-info my-1">Furniture Manufacturer</a>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Contact :</span><span
                                                    class="pl5">8639930690</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Address :</span><span
                                                    class="pl5">Kukatpally, Hyderabad</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-12 col-md-12 col-lg-7 my-auto">
                                            <span class="font-weight-bold">Timings :</span><span class="pl5">9.00 am -
                                                10.00 pm</span>
                                            <a href="#" class="btn btn-sm btn-light  ml-0 ml-md-2 mt-2 mt-sm-0">Open
                                                Now</a>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-5 my-3 my-md-auto">
                                            <div class="text-center text-lg-right">
                                                <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                                                <a href="services_inner.html"
                                                    class="btn btn-md card-view-details-btn text-white">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 my-4 my-md-2 px-3">
                        <div class="shadow px-3 border-radius-5">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3 px-0">
                                    <div>
                                        <img src="images/plumbing.jpg" class="img-fluid w-100" alt="" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 py-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="fs16 font-weight-bold">ABC Plumbing</div>
                                            <div class="py-2">
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <i class="fas fa-star text-orange mr5"></i>
                                                <span class="pl10">4.0 Out Of 5</span>
                                                <span class="pl30">130 reviews</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-3">
                                            <div>
                                                <a href="#" class="btn btn-sm btn-primary mr-2 my-1">Furniture
                                                    Repair</a>
                                                <a href="#" class="btn btn-sm btn-success mr-2 my-1">Furniture Sale</a>
                                                <a href="#" class="btn btn-sm btn-info my-1">Furniture Manufacturer</a>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Contact :</span><span
                                                    class="pl5">8639930690</span>
                                            </div>
                                        </div>
                                        <div class="col-12 py-1">
                                            <div>
                                                <span class="font-weight-bold">Address :</span><span
                                                    class="pl5">Kukatpally, Hyderabad</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-12 col-md-12 col-lg-7 my-auto">
                                            <span class="font-weight-bold">Timings :</span><span class="pl5">9.00 am -
                                                10.00 pm</span>
                                            <a href="#" class="btn btn-sm btn-light  ml-0 ml-md-2 mt-2 mt-sm-0">Open
                                                Now</a>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-5 my-3 my-md-auto">
                                            <div class="text-center text-lg-right">
                                                <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                                                <a href="services_inner.html"
                                                    class="btn btn-md card-view-details-btn text-white">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- End of Painting Services -->

            </div>

            <!-- Right Side Block-->

        </div>
    </div>
</div>