<!--Goes Up-->

<div class="topa">
    <i class="fas fa-arrow-up"></i>
</div>

<nav class="bg-white pt15 pl15 pb10 pr15 navbar-dark fixed-top border-bottom-white">
    <div class="navbar navbar-expand-lg header-bg border-radius-10">
        <!-- Brand -->

        <a class="navbar-brand"   routerLink="/Home">
            <!-- <img src="assets/images/logo.png" class="img-fluid" alt="" /> -->
            <h5 class="mb-0">REAL ESTATE</h5>
        </a>

        <form class="position-relative mx-2 d-none d-lg-block">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>

        <!-- Toggler/collapsibe Button -->

        <button class="navbar-toggler mx-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav-item d-block d-lg-none">
            <a class="nav-link px-1" href="#">
                <span class="text-white fs20" onclick="openNav()">&#9776;</span>
            </a>
        </div>

        <!-- Navbar links -->

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mt-3 mt-lg-0 ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="SearchProperty">Search Property</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="PostProperty">Post Property</a>
                </li>
                <!-- <li class="nav-item">
                            <a class="nav-link" href="services.html">Services</a>
                        </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Services
                    </a>
                    <div class="dropdown-menu header-dropdown">
                        <div class="row">
                            <div class="col-12 col-md-5 col-lg-5">
                                <h6 class="pl30 font-weight-bold mb-3">Home Services</h6>
                                <ul class="list-unstyled mb-2">
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" routerLink="AllServices">All
                                            Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Plumbing Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Electrician
                                            Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Painting Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Mason Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Tiles Work Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Carpenter Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Building Material
                                            Services</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-7 col-lg-7">
                                <h6 class="pl30 font-weight-bold mb-3">Legal & Documentation Services </h6>
                                <ul class="list-unstyled mb-2">
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Home Plan Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Permission</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Structural Plan
                                            Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Registration of
                                            Property</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">New Tap Connection
                                            Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Home Mortgage
                                            Services</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item services-dropdown-item" href="#">Electric Meter
                                            Services</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <i class="fas fa-globe fs18 pr-2"></i> English
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Telugu</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Login">
                        <span class="btn btn-sm btn-blue-transparent px-3">Login or Register</span>
                    </a>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <span class="text-white fs20" onclick="openNav()">&#9776;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="my_listings.html">My Listings</a>
    <a href="edit_profile.html">Edit Profile</a>
    <a href="settings.html">Settings</a>
    <a href="#">Side Menu 4</a>
</div>

<!-- End Of Header -->