<div class="content">
    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <div class="row px-3">

            <!-- filters start -->

            <div class="col-12 col-md-12 col-lg-3 mt-3 mt-md-1 shadow filters-scroll">
                <div class="row">
                    <div class="col-12 py-4 bg-light border-bottom px30">
                        <div class="">
                            <span class="fs18 font-weight-bold">Filters</span>
                            <span class="float-right font-weight-bold lh22 text-decoration-none"><a href="#">Reset
                                    All</a></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30 border-bottom">
                        <div>
                            <span class="fs16 font-weight-bold">Budget</span>
                            <span class="float-right">
                                <a href="#"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="mt-4 my-3">
                            <span class="btn btn-sm btn-transparent my-1">15.0 Lacs</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1">15.0 Lacs</span>
                        </div>
                        <div class="py-2">
                            <input type="range" class="w-75" id="" name="" min="0" max="100" value="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30 border-bottom">
                        <div>
                            <span class="fs16 font-weight-bold">BHK</span>
                            <span class="float-right">
                                <a href="#"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="mt-4 my-3">
                            <span class="btn btn-sm btn-transparent mx-1">1 RK</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1">1 BHK</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1">2 BHK</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1">3 BHK</span>
                            <span class="btn btn-sm btn-transparent my-1 mx-1">4 BHK</span>
                        </div>
                        <div class="py-2">
                            <input type="range" class="w-75" id="" name="" min="0" max="100" value="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30 border-bottom">
                        <div>
                            <span class="fs16 font-weight-bold">Property Status</span>
                            <span class="float-right">
                                <a href="#"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="mt-4 mb-2 position-relative">
                            <input type="radio" class="radio-btn-position" name="" /><span class="pl20">New
                                Projects</span>
                        </div>
                        <div class="my-2 position-relative">
                            <input type="radio" class="radio-btn-position" name="" /><span class="pl20">Resale
                                Properties</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30 border-bottom">
                        <div>
                            <span class="fs16 font-weight-bold">Possession</span>
                            <span class="float-right">
                                <a href="#"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="mt-4 mb-2 position-relative">
                            <input type="radio" class="radio-btn-position" name="" /><span class="pl20">Ready to Move
                            </span>
                        </div>
                        <div class="my-2 position-relative"><input type="radio" class="radio-btn-position"
                                name="" /><span class="pl20">In 1 Year</span></div>
                        <div class="my-2 position-relative"><input type="radio" class="radio-btn-position"
                                name="" /><span class="pl20">In 2 Year</span> </div>
                        <div class="my-2 position-relative"><input type="radio" class="radio-btn-position"
                                name="" /><span class="pl20">In 3 Year</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-3 px30">
                        <div>
                            <span class="fs16 font-weight-bold">Age of Property</span>
                            <span class="float-right">
                                <a href="#"><i class="fas fa-minus text-muted font-weight-bold"></i></a>
                            </span>
                        </div>
                        <div class="mt-4 mb-2 position-relative">
                            <input type="radio" class="radio-btn-position" name="" /><span class="pl20">Less than 1
                                Year</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- filters end -->

            <!-- Right side block start -->

            <div class="col-12 col-md-12 col-lg-9 px-md-0 pl35 pr-4 pt-2 pb-5">
                <div class="row">
                    <div class="col-12 py-2">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-white mb-0 px-0">
                                <li class="breadcrumb-item pl-0"><a href="#" class="text-muted fs14">Home</a></li>
                                <li class="breadcrumb-item pl-0"><a href="#" class="text-muted fs14">Hyderabad</a></li>
                                <li class="breadcrumb-item pl-0 active" aria-current="page"><a href="#"
                                        class="fs14">Selector 15</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-12 mb-3 px-3">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-8 my-auto">
                                <h4 class="fs20 font-weight-bold">9064 Properties for Sale in Hyderabad</h4>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 py-2 py-md-0 my-auto">
                                <div class="d-flex float-right">
                                    <div class="mr-2">
                                        <button (click)="changeView()" id="card-view-btn" class="btn btn-sm view-btn">
                                            <i class="" [ngClass]="ViewType ? 'fas fa-th-large' : 'fas fa-list'" ></i>
                                        </button>
                                    </div>
                                    <div class="">
                                        <select class="form-control bg-transparent-select">
                                            <option>Relavance</option>
                                            <option>....</option>
                                            <option>....</option>
                                            <option>....</option>
                                            <option>....</option>
                                            <option>....</option>
                                            <option>....</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf='!ViewType' class="row" id="list-view">
                    <div  class="col-12 my-2 px-3">
                        <!-- <div class="shadow px-3 border-radius-5">
                            <div class="row">
                                <div class="col-12 col-md-4 col-lg-3 px-0">
                                    <div>
                                        <img src="images/image1.jpg" class="img-fluid w-100" alt="" />
                                    </div>
                                </div>
                                <div class="col-12 col-md-8 col-lg-9 py-3">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="fs16 font-weight-bold">3 BHK Appartments</div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="text-left text-lg-right fs18 font-weight-bold">
                                                ₹ 18.89 Lacs-32.95 Lacs
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-grey font-weight-500 py-1 fs14">By Asiana Housing, Kukatpally,
                                        Hyderabad</div>
                                    <div class="my-3">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation.
                                    </div>
                                    <div class="pt-3">
                                        <span class="text-grey fs15">Details :</span>
                                        <span class="pl-4">1200 sq.ft</span>
                                    </div>
                                    <div>
                                        <span class="text-grey fs15">Status :</span>
                                        <span class="pl-4">Unfurnished, Immediately Available</span>
                                    </div>
                                    <div class="row pt-4">
                                        <div class="col-12 col-md-12 col-lg-7 my-auto">
                                            <div class="">
                                                <span class="mr-4 text-grey"><i
                                                        class="fas fa-swimming-pool"></i>&nbsp;&nbsp;Swimming
                                                    Pool</span>
                                                <span class="mr-4 text-grey"><i
                                                        class="fas fa-dumbbell"></i>&nbsp;&nbsp;Gym</span>
                                                <span class="mr-4 text-grey"><i
                                                        class="fas fa-car fs20"></i>&nbsp;&nbsp;Parking</span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-5 my-2 my-lg-auto">
                                            <div class="text-center text-lg-right">
                                                <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                                                <a href="property_details.html"
                                                    class="btn btn-md card-view-details-btn text-white">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <app-property-card-long></app-property-card-long>
                    </div>
                </div>

                <div *ngIf='ViewType' class="row" id="card-view" style="">
                    <div class="col-12 col-md-6 col-lg-4 my-1">
                      <app-property-card-detailed></app-property-card-detailed>
                    </div>

                
                </div>
            </div>

            <!-- Right Side Block-->

        </div>
    </div>
</div>