<div class="content">
    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container-fluid mt-3 mt-md-0">
        <div class="home-banner">
            <div class="container px-0 px-md-3">
                <div class="row mx-2 mx-md-3">
                    <div class="col-12 col-md-12 col-lg-12 py-5 my-auto">
                        <div class="row">
                            <div class="col-12 col-md-6 px-0 px-md-3">
                                <div class="font-weight-bold fs35 mb-3">
                                    <span class="text-white">Dream Home is</span><span class=" text-yellow"> Right Here
                                    </span>
                                </div>
                                <p class="text-white">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                    incididunt ut labore
                                    et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                        <div class="row pt70 pb-4 px-0 px-md-3">
                            <div class="col-12 px-0">
                                <div>
                                    <h5 class="mb-4 font-weight-bold text-white">Find Property</h5>
                                </div>
                                <div class="row mx-0 property-filter-block">
                                    <div class="col-12">
                                        <div class="row filter-bottom-line">
                                            <div class="col-4 col-sm-3 col-md-2 col-lg-1 px-0">
                                                <div class="pt-2 cursor-pointer">
                                                    <a
                                                        class="property-filter property-filter-active pt10 pb10 d-block">Buy</a>
                                                </div>
                                            </div>
                                            <div class="col-4 col-sm-3 col-md-2 col-lg-1 px-0">
                                                <div class="pt-2 cursor-pointer">
                                                    <a class="property-filter pt10 pb10 d-block">Rent
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-4 col-sm-3 col-md-2 col-lg-1 px-0">
                                                <div class="pt-2 cursor-pointer">
                                                    <a class="property-filter pt10 pb10 d-block">Lease
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12 home-property-filter-block px-3 py-3">
                                <div class="row">
                                    <div class="filt px-3">
                                        <div class="mb-2 font-weight-bold text-white">LOCATION</div>
                                        <div class="bg-white shadow mt-2 p-3 border-radius-10">
                                            <div class="">
                                                <span><i class="fas fa-map-marker-alt"></i></span>
                                                <span class="pl5">Hyderabad</span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filt px-3">
                                        <div class="mb-2 font-weight-bold text-white">PROPERTY TYPE</div>
                                        <div class="bg-white shadow mt-2 pl-3 pr-1 border-radius-10">
                                            <div>
                                                <span><i class="fas fa-compass"></i></span>
                                                <select class="body-font-color">
                                                    <option>Select Property Type</option>
                                                    <option>New Home</option>
                                                    <option>Old Home</option>
                                                    <option>Commercial</option>
                                                    <option>Open Plots</option>
                                                    <option>Farm Lands</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filt px-3">
                                        <div class="mb-2 font-weight-bold text-white">PROPERTY SUB-TYPE</div>
                                        <div class="bg-white shadow mt-2 pl-3 pr-1 border-radius-10">
                                            <div>
                                                <span><i class="fas fa-compass"></i></span>
                                                <select class="body-font-color">
                                                    <option>Select Property Sub-Type</option>
                                                    <option>Apartment</option>
                                                    <option>Independent Home</option>
                                                    <option>Shops</option>
                                                    <option>Buildings</option>
                                                    <option>Flat</option>
                                                    <option>Independent</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filt px-3">
                                        <div class="mb-2 font-weight-bold text-white">BUDGET</div>
                                        <div class="bg-white shadow mt-2 pl-3 pr-1  border-radius-10">
                                            <div>
                                                <span><i class="far fa-compass"></i></span>
                                                <select class="body-font-color">
                                                    <option>Select Budget</option>
                                                    <option>10,00,000 - 20,00,000</option>
                                                    <option>20,00,000 - 30,00,000</option>
                                                    <option>30,00,000 - 40,00,000</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filt-send-btn px-3">
                                        <div>
                                            <a href="search_property.html">
                                                <span class="btn send-btn text-white"><i
                                                        class="fas fa-location-arrow"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of home Banner -->

    <!-- Recently Visited Properties -->

    <div class="container mt-4 pt-5">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6">
                <h5 class="font-weight-bold mb-3">Recently Visited Properties</h5>
            </div>
            <div class="col-12 col-sm-4 col-md-6">
                <div class="text-right">
                    <a href="search_property.html" class="btn btn-sm btn-red">View All Properties</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container">
            <div class="row">
                <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
                    <div class="carousel-inner row w-100 mx-auto" role="listbox">
                        <div *ngFor="let item of list"
                            class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block carousel-item col-md-3  active">
                            <app-property-card></app-property-card>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Recently Visited Properties -->

    <!-- Short Listed Properties -->

    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <h5 class="font-weight-bold mb-3">Short Listed Properties</h5>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="text-right">
                    <a href="search_property.html" class="btn btn-sm btn-red">View All Properties</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4">
                    <div class="row">
                        <div *ngFor="let item of list"
                            class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block">
                            <!--  <div class="row p-0 p-sm-2 p-md-3 p-lg-3">
                  <div class="col-12 px-3 new-project-card">
                    <div class="border-radius-5 py-3">
                      <img src="assets/images/image8.jpg" class="img-fluid rounded" alt="" />
                    </div>
                    <div class="fs17 h50">Independent House</div>
                    <div>Kukatpally, Hyderabad</div>
                    <div class="pt-1 pb-2 border-bottom-dashed-grey">
                      <span>1500 sft</span>
                      <span class="float-right">Starts From ₹ 1,50,000</span>
                    </div>
                    <div class="row">
                      <div class="col-12 rating-block my-1">
                        <div class="row">
                          <div class="col-12 py-1">
                            <div>
                              Listed On June 28, 2021
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 px-0 view-details-btn-block">
                        <a href="property_details.html" class="view-details-btn btn btn-sm w-100">View Details <i
                            class="fas fa-arrow-right ml-2"></i></a>
                      </div>
                    </div>
                  </div>
                </div> -->
                            <app-property-card></app-property-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Short Listed Properties -->

    <!-- New Properties -->

    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <h5 class="font-weight-bold mb-3">New Properties</h5>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="text-right">
                    <a href="search_property.html" class="btn btn-sm btn-red">View All Properties</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4">
                    <div class="row">
                        <div class="col-12 col-md-8 col-lg-8 my-auto">
                            <p class="text-muted">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                incididunt ut labore et
                                dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <mat-tab-group>
                        <mat-tab label="Residential Property">
                            <div class="row">
                                <div *ngFor="let item of list"
                                    class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block">
                                    <app-property-card></app-property-card>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Commercial Property">
                            <div class="row">
                                <div *ngFor="let item of list"
                                    class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block">
                                    <app-property-card></app-property-card>
                                </div>
                            </div>

                        </mat-tab>
                        <mat-tab label="Industrial Property">
                            <div class="row">
                                <div *ngFor="let item of list"
                                    class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block">
                                    <app-property-card></app-property-card>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Agriculture Property">
                            <div class="row">
                                <div *ngFor="let item of list"
                                    class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block">
                                    <app-property-card></app-property-card>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>

    <!-- End of New Properties -->

    <!-- Featured Properties -->

    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <h5 class="font-weight-bold mb-3">Featured Properties</h5>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <div class="text-right">
                    <a href="search_property.html" class="btn btn-sm btn-red">View All Properties</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-4">
        <div class="container">
            <div class="row">
                <div class="col-12 py-4">
                    <div class="row">
                        <div *ngFor="let item of list"
                            class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 my-md-0 my-lg-0 new-project-card-block">
                            <app-property-card></app-property-card>
                        </div>
                 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Featured Properties -->

    <!-- Benifits Section -->

    <div class="container-fluid mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="font-weight-bold mb-3">Benifits with us</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="benifits-section mb-4">
        <div class="container-fluid py-3 py-lg-2 mt-2 py-lg-0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2">
                        <div class="benifits-section-card benifit-card1">
                            <div>
                                <img src="assets/images/benifits/verified-property.png"
                                    class="benifit-icon mx-auto d-block" alt="">
                            </div>
                            <h6 class="text-center font-weight-bold my-2">Verified Properties</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2">
                        <div class="benifits-section-card benifit-card2">
                            <div>
                                <img src="assets/images/benifits/easy-search.png" class="benifit-icon mx-auto d-block"
                                    alt="">
                            </div>
                            <h6 class="text-center font-weight-bold my-2">Quick and Easy Search</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2">
                        <div class="benifits-section-card benifit-card3">
                            <div>
                                <img src="assets/images/benifits/listing.png" class="benifit-icon mx-auto d-block"
                                    alt="">
                            </div>
                            <h6 class="text-center font-weight-bold my-2">Free Listing</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2">
                        <div class="benifits-section-card benifit-card4">
                            <div>
                                <img src="assets/images/benifits/search-location.png"
                                    class="benifit-icon mx-auto d-block" alt="">
                            </div>
                            <h6 class="text-center font-weight-bold my-2">Search By Location</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Benifits Section -->

    <!-- Download App -->

    <div class="container py-4 px30 my-5">
        <div class="row">
            <div class="col-12 download-app-bg border-radius-30 px-3 px-md-5">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-6 py-5 my-auto">
                        <div class="font-weight-bold text-white fs35 mb-3 fs-sm-18">Try our Real Estate app for free,
                            Download
                            Now.</div>
                        <div class="text-white">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor
                            sit amet,
                            consectetur adipisicing elit, sed do eiusmod.
                        </div>
                        <div class="row pt-5">
                            <div class="col-6 col-md-3 text-right pr-0">
                                <a href="#" class="py-1"><img src="assets/images/app-store.png" class="img-fluid"
                                        alt="" /></a>
                            </div>
                            <div class="col-6 col-md-3 text-left pl-0">
                                <a href="#" class="ml-2 py-1"><img src="assets/images/google-play.png" class="img-fluid"
                                        alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-6 pt-0 pt-lg-5 px-3 px-md-5 my-auto">
                        <div>
                            <img src="assets/images/app-image.png" class="img-fluid mx-auto d-block" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End of Download App -->

</div>