<div class="content">
    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container py-2">
        <div class="row mx-1">
            <div class="col-12 py-5 border-radius-20">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <h3 class="mb-5 d-inline-block">List Your Property</h3>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <h5 class="mb-4 border-bottom d-inline-block">Your Details</h5>
                        <form class="py-3">
                            <div class="form-group row">
                                <label class="col-12 col-sm-4 col-md-3 col-form-label">Name</label>
                                <div class="col-12 col-sm-8 col-md-9">
                                    <input type="text" class="form-control" id="" placeholder="Name" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-4 col-md-3 col-form-label my-auto">Contact Number</label>
                                <div class="col-12 col-sm-8 col-md-9 my-auto">
                                    <input type="number" class="form-control" id="" placeholder="Contact Number" />
                                    <div class="row mt-2">
                                        <div class="col-12 col-sm-6 col-md-7">
                                            <div>Phone Number Visibility to Buyers</div>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-2 my-1 my-md-0">
                                            <input type="radio" class="p-radio-btn" name=""><span
                                                class="pl25">Show</span>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-2 my-md-0">
                                            <input type="radio" class="p-radio-btn" name=""><span
                                                class="pl25">Hide</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-4 col-md-3 col-form-label py-sm-0">Alternate Contact
                                    Number</label>
                                <div class="col-12 col-sm-8 col-md-9">
                                    <input type="number" class="form-control" id=""
                                        placeholder="Alternate Contact Number" />
                                    <div class="row mt-2">
                                        <div class="col-12 col-sm-6 col-md-7">
                                            <div>Alternate Phone Number Visibility to Buyers</div>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-2 my-1 my-md-0">
                                            <input type="radio" class="p-radio-btn" name=""><span
                                                class="pl25">Show</span>
                                        </div>
                                        <div class="col-12 col-sm-3 col-md-2 my-md-0">
                                            <input type="radio" class="p-radio-btn" name=""><span
                                                class="pl25">Hide</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-4 col-md-3 col-form-label">Email</label>
                                <div class="col-12 col-sm-8 col-md-9">
                                    <input type="text" class="form-control" id="" placeholder="Email" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-4 col-md-3 col-form-label">You Are</label>
                                <div class="col-12 col-sm-8 col-md-9">
                                    <div class="">
                                        <a href="#" class="btn btn-small btn-red mr-2">Owner</a>
                                        <a href="#" class="btn btn-small btn-light border mr-2">Builder</a>
                                        <a href="#" class="btn btn-small btn-light border">Dealer</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-12 col-sm-4 col-md-3 col-form-label">About</label>
                                <div class="col-12 col-sm-8 col-md-9">
                                    <textarea class="form-control " id="" rows="4" name="text"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                        <h5 class="mb-3 border-bottom d-inline-block">Property Details</h5>
                        <form class="pt-3">
                            <div class="form-group row">
                                <div class="col-12 col-md-12">
                                    <label>Property Available For</label>
                                    <div class="row pt10">
                                        <div class="col-6 col-sm-4 col-md-4">
                                            <input type="radio" class="p-radio-btn" /><span class="pl25">For Sale</span>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-4">
                                            <input type="radio" class="p-radio-btn" /><span class="pl25">For
                                                Lease</span>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-4">
                                            <input type="radio" class="p-radio-btn" /><span class="pl25">Both</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-12 my-1">
                                    <label>Property Tittle</label>
                                    <div>
                                        <input type="text" class="form-control" id="" placeholder="Property Tittle" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6 my-1">
                                    <label>Property Type</label>
                                    <div>
                                        <select class="form-control">
                                            <option>Select Property Type</option>
                                            <option>New Home</option>
                                            <option>Commercial</option>
                                            <option>Old Home</option>
                                            <option>Open Plots</option>
                                            <option>Farm Lands</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 my-1">
                                    <label>Property Sub-Type</label>
                                    <div>
                                        <select class="form-control">
                                            <option>Select Property Sub-Type</option>
                                            <option>Apartment</option>
                                            <option>Independent Home</option>
                                            <option>Shops</option>
                                            <option>Buildings</option>
                                            <option>Flat</option>
                                            <option>Independent</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6 my-1">
                                    <label>BHK type</label>
                                    <div>
                                        <select class="form-control">
                                            <option>BHK Type</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 my-1">
                                    <label>Gated Security</label>
                                    <div>
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>........</option>
                                            <option>........</option>
                                            <option>........</option>
                                            <option>........</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6 my-1">
                                    <label>Floor</label>
                                    <div>
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 my-1">
                                    <label>Total Floor</label>
                                    <div>
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6 my-1">
                                    <label>Property Age</label>
                                    <div>
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 my-1">
                                    <label>Facing</label>
                                    <div>
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>.......</option>
                                            <option>.......</option>
                                            <option>.......</option>
                                            <option>.......</option>
                                            <option>.......</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6 my-1">
                                    <label>Property Size</label>
                                    <div class="row">
                                        <div class="col-8 col-md-8">
                                            <input type="text" class="form-control" id="" placeholder="Property Size" />
                                        </div>
                                        <div class="col-4 col-md-4 pl-0">
                                            <select class="form-control">
                                                <option>Sft</option>
                                                <option>Acres</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 my-1">
                                    <label>Society Name</label>
                                    <div>
                                        <input type="text" class="form-control" id="" placeholder="Society Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-3 my-auto">
                                    <label>Price</label>
                                </div>
                                <div class="col-md-9">
                                    <div class="row my-2">
                                        <div class="col-md-5 my-2 my-md-auto">
                                            <div>
                                                <input type="radio" class="p-radio-btn" name=""><span
                                                    class="pl25">Fixed</span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 my-2 my-md-auto">
                                            <div>
                                                <input type="text" placeholder="Enter Price" class="form-control"
                                                    name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-md-5 my-2 my-md-auto">
                                            <div>
                                                <input type="radio" class="p-radio-btn" name=""><span
                                                    class="pl25">Starting From</span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 my-2 my-md-auto">
                                            <div>
                                                <input type="text" placeholder="Enter Price" class="form-control"
                                                    name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-md-5 my-2 my-md-auto">
                                            <div>
                                                <input type="radio" class="p-radio-btn" name=""><span
                                                    class="pl25">Range</span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 my-2 my-md-auto">
                                            <div class="row">
                                                <div class="col-6">
                                                    <input type="text" placeholder="From" class="form-control" name="">
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" placeholder="To" class="form-control" name="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Property Description</label>
                                    <div>
                                        <textarea class="form-control " id="" rows="4" name="text"
                                            placeholder="Property Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6">
                                    <label>Upload Floor Plan</label>
                                    <div>
                                        <input type="file" class="form-control h39" name="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6">
                                    <label>Upload Images</label>
                                    <div>
                                        <input type="file" class="form-control h39" name="">
                                    </div>
                                </div>
                            </div>
                            <h5 class="mt-3 mb-4 border-bottom d-inline-block">Property Address</h5>
                            <div class="form-group row">
                                <label class="col-12 col-form-label pb-0">Address</label>
                                <div class="col-12 col-md-6 mb-2">
                                    <input type="text" name="" class="form-control" placeholder="Address Line 1">
                                </div>
                                <div class="col-12 col-md-6 my-2 mt-md-0 mb-md-2">
                                    <input type="text" name="" class="form-control" placeholder="Address Line 2">
                                </div>
                                <div class="col-12 col-md-6 my-2">
                                    <input type="text" name="" class="form-control" placeholder="City">
                                </div>
                                <div class="col-12 col-md-6 my-2">
                                    <select class="form-control">
                                        <option>State</option>
                                        <option>.......</option>
                                        <option>.......</option>
                                        <option>.......</option>
                                        <option>.......</option>
                                        <option>.......</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 my-2">
                                    <select class="form-control">
                                        <option>Country</option>
                                        <option>.......</option>
                                        <option>.......</option>
                                        <option>.......</option>
                                        <option>.......</option>
                                        <option>.......</option>
                                    </select>
                                </div>
                            </div>

                            <hr class="my-4">
                            <h5>Select the available amenities</h5>
                            <div class="row">
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Lift</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Internet Services</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Air Conditioner</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Club House</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Intercom</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Swimming Pool</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Children Play Area</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Fire Safety</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Servent Rom</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Shopping Center</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Gas Pipeline</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Park</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Rain Water Harvesting</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Sewage Treatement Plant</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">House Keeping</span>
                                </div>
                                <div class="col-12 col-sm-6 py-3">
                                    <input type="checkbox" name=""><span class="pl25">Power Backup</span>
                                </div>
                            </div>
                            <div class="form-group row mt-4">
                                <div class="col-12">
                                    <div class="text-center">
                                        <a href="#" class="btn btn-red w-50">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>