<a href="property_details.html" class="body-font-color text-decoration-none">
    <div class="border border-radius-5 p5">
        <div class="row">
            <div class="col-12">
                <img src="assets/images/image10.jpg" class="img-fluid rounded" alt="">
            </div>
        </div>
        <div class="row px-3 pt-2">
            <div class="col-12 border-bottom-dashed-grey">
                <div class="row">
                    <div class="col-12 px-0 h55">
                        <div class="fs16 font-weight-bold mb-1">3 BHK Apartments</div>
                    </div>
                </div>
                <div class="row pb-1">
                    <div class="col-6 col-md-6 col-lg-6 my-auto px-0">
                        <div class="fs18">₹1,50,000</div>
                    </div>
                    <div class="col-6 col-md-6 col-lg-6 my-auto px-0">
                        <div class="fs11 text-right">1200 sqft</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-3">
            <div class="col-12 py-2 px-0">
                <div class="fs15 font-weight-bold mb-2">
                    Kukatpally, Hyderabad
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
                    tempor.</p>
                <div>
                    <span class="mr-4 text-grey"><i class="fas fa-swimming-pool"></i>&nbsp;&nbsp;Swimming Pool</span>
                    <span class="mr-4 text-grey"><i class="fas fa-dumbbell"></i>&nbsp;&nbsp;Gym</span>
                </div>
            </div>
        </div>

        <div class="row px-3 py-2">
            <div class="col-12 col-md-6 col-lg-6 px-0">
                <div class="d-flex">
                    <div class="my-auto mr-1">
                        <img src="assets/images/user.png" class="rounded-circle shadow" width="25px" alt="">
                    </div>
                    <div class="my-auto">
                        Jonathan
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 px-0">
                <div class="text-right">
                    <span>
                        <i class="fas fa-mobile-alt mobile-bg-icon mr-1"></i>
                    </span>
                    <span>
                        <i class="fas fa-envelope email-bg-icon mr-1"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</a>