  <app-header></app-header>
  <!-- Content -->
<!-- 
  <app-home></app-home>
 -->
<router-outlet></router-outlet>
  <!-- End Of Content -->
<app-footer></app-footer>

  <script>
    $(document).ready(function () {
      $(".property-filter").click(function () {
        $('.property-filter-active').removeClass('property-filter-active');
        $(this).addClass('property-filter-active');
      });
    });
  </script>

  <script>
    $(".property_navlink").click(function () {
      //active_tab
      $(".active_tab_btn").removeClass("property_navlink");
      $(".active_tab_btn").removeClass("active_tab_btn");
      $(this).addClass("property_navlink");
      $(this).addClass("active_tab_btn");

      $(".active_tab").hide();
      $(".active_tab").removeClass("active_tab");
      $($(this).attr("target-id")).addClass("active_tab");
      $($(this).attr("target-id")).show();
    });
  </script>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>