<div class="content">

    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container-fluid px-0">
        <div class="container py-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="font-weight-bold fs30 mb-3">Find Best Home Services</div>
                </div>
            </div>

            <!-- categories -->

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 py-3">
                    <div class="row">
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a routerLink="/CategoryView" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/plumbing.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Plumbing</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/plug.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Electrician</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/paint-brush.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Paints</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/mason.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Mason Services</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/tiles.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Tiles Work</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/carpenter.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Carpenter</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/building-material.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Building Material</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/home-plan.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Home Plan</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/permission.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Permission</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/structural-plan.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Structural Plan</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/property-registration.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Registration of Propery</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
                            <div class="category-block">
                                <a href="#" class="text-center text-decoration-none m-auto">
                                    <div class="">
                                        <img src="assets/images/categories/home-mortgage.png"
                                            class="img-fluid mx-auto d-block category-icon" alt="">
                                    </div>
                                    <div class="pt-2 category-name">Home Mortgage</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of categories -->

        <!-- why choose us -->

        <div class="container py-4">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="text-center fs30 font-weight-bold mb-3">Why choose Us?</div>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi.
                    </p>
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4 my-1">
                            <div class="shadow p25 text-center border-radius-20">
                                <div class="services-need-icon">
                                    <i class="fas fa-user-check"></i>
                                </div>
                                <div class="fs15 font-weight-bold pt-3">Verified Vendors</div>
                                <div class="py-2">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 my-1">
                            <div class="shadow p25 text-center border-radius-20">
                                <div class="services-need-icon">
                                    <i class="fas fa-tools"></i>
                                </div>
                                <div class="fs15 font-weight-bold pt-3">Low Cost Repairs</div>
                                <div class="py-2">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 col-lg-4 my-1">
                            <div class="shadow p25 text-center border-radius-20">
                                <div class="services-need-icon">
                                    <!-- <i class="fas fa-check-circle"></i> -->
                                    <i class="fas fa-award"></i>
                                </div>
                                <div class="fs15 font-weight-bold pt-3">Qualified & Expert Services</div>
                                <div class="py-2">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                    incididunt ut labore et dolore magna aliqua.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of why choose us -->

        <!-- Register As Partner -->

        <div class="container pb-4 my-5">
            <div class="row">
                <div class="col-12 col-sm-12">
                    <div class="shadow pt45 pb45 px35 bg-blue border-radius-20 text-center">
                        <h5 class="text-white mb-1">Are You A Service Expert ?</h5>
                        <p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="pt-4">
                            <a href="register_as_partner.html" class="btn btn-small btn-red text-white">Register As
                                Partner</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Register As Partner -->

        <!-- Download App -->

        <div class="container py-4 px30 my-5">
            <div class="row">
                <div class="col-12 download-app-bg border-radius-30 px-3 px-md-5">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-6 py-5 my-auto">
                            <div class="font-weight-bold text-white fs35 mb-3 fs-sm-18">Try our Real Estate app for
                                free, Download Now.</div>
                            <div class="text-white">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                            </div>
                            <div class="row pt-5">
                                <div class="col-6 col-md-3 text-right pr-0">
                                    <a href="#" class="py-1"><img src="assets/images/app-store.png" class="img-fluid"
                                            alt="" /></a>
                                </div>
                                <div class="col-6 col-md-3 text-left pl-0">
                                    <a href="#" class="ml-2 py-1"><img src="assets/images/google-play.png" class="img-fluid"
                                            alt="" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-6 pt-0 pt-lg-5 px-3 px-md-5 my-auto">
                            <div>
                                <img src="assets/images/app-image.png" class="img-fluid mx-auto d-block" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Download App -->

    </div>
</div>