<div class="content">
    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container-fluid pt-4">
        <div class="container vertical-center">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-7 my-auto">
                    <!--  <div>
                                <img src="images/login1.png" class="img-fluid mx-auto d-block" alt="login-image" />
                            </div> -->
                </div>
                <div class="col-12 col-md-5 col-lg-5 my-auto">
                    <div class="px-1 py-5 p-lg-5">

                        <h5>Sign In to Real Estate</h5>

                        <form>
                            <div class="form-group">
                                <div class="fs13 font-weight-500"><span>Don't have an account yet ?</span>
                                    <a routerLink="/Register" class="text-red pl-1"> SignUp</a>
                                </div>
                            </div>
                            <div class="form-group mt-4">
                                <label>Email / Mobile Number</label>
                                <div class="inputWithIcon">
                                    <input type="text" name="" id="" class="form-control"
                                        placeholder="Email / Mobile Number" />
                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <div class="inputWithIcon">
                                    <input type="password" class="form-control" id="password" placeholder="Password"
                                        name="password" />
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-red fs13 w-100 border-radius-10">SIGN IN</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>