<!-- footer -->

<footer>
    <div class="container pt30 pb10">
        <div class="row">
            <div class="col-6 col-md-2">
                <h6>Company</h6>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Download</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <h6>Contact</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Demo</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Email Us</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h6>Furthur Information</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <h4>Ready to get started?</h4>
                <div class="my-4">
                    <a routerLink="Register"
                        class="btn btn-light text-dark border-radius-20 btn-lg fs15 font-weight-500 text-white">Register</a>
                </div>
                <hr class="bg-white" />
                <div>
                    <h6>Follow Us</h6>
                    <div class="social-media-icons">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><b>&copy; 2021. All rights reserved</b></div>
            </div>
        </div>
    </div>
</footer>