<div class="shadow px-3 border-radius-5">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 px-0">
            <div>
                <img src="assets/images/plumbing.jpg" class="img-fluid w-100" alt="" />
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 py-3">
            <div class="row">
                <div class="col-12">
                    <div class="fs16 font-weight-bold">ABC Plumbing</div>
                    <div class="py-2">
                        <i class="fas fa-star text-orange mr5"></i>
                        <i class="fas fa-star text-orange mr5"></i>
                        <i class="fas fa-star text-orange mr5"></i>
                        <i class="fas fa-star text-orange mr5"></i>
                        <i class="fas fa-star text-orange mr5"></i>
                        <span class="pl10">4.0 Out Of 5</span>
                        <span class="pl30">130 reviews</span>
                    </div>
                </div>
                <div class="col-12 py-3">
                    <div>
                        <a href="#" class="btn btn-sm btn-primary mr-2 my-1">Furniture
                            Repair</a>
                        <a href="#" class="btn btn-sm btn-success mr-2 my-1">Furniture Sale</a>
                        <a href="#" class="btn btn-sm btn-info my-1">Furniture Manufacturer</a>
                    </div>
                </div>
                <div class="col-12 py-1">
                    <div>
                        <span class="font-weight-bold">Contact :</span><span class="pl5">8639930690</span>
                    </div>
                </div>
                <div class="col-12 py-1">
                    <div>
                        <span class="font-weight-bold">Address :</span><span class="pl5">Kukatpally, Hyderabad</span>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-12 col-md-12 col-lg-7 my-auto">
                    <span class="font-weight-bold">Timings :</span><span class="pl5">9.00 am -
                        10.00 pm</span>
                    <a href="#" class="btn btn-sm btn-light  ml-0 ml-md-2 mt-2 mt-sm-0">Open
                        Now</a>
                </div>
                <div class="col-12 col-md-12 col-lg-5 my-3 my-md-auto">
                    <div class="text-center text-lg-right">
                        <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                        <a routerLink="/ServiceDetails" class="btn btn-md card-view-details-btn text-white">View
                            Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>