<div class="content">

    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <div class="container py-4 my-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <a href="category_view.html" class="body-font-color text-decoration-none">
                                    <i class="fas fa-arrow-left mr-2"></i><span>Back to all providers</span>
                                </a>
                            </div>
                            <h5 class="font-weight-bold mb-3">ABC Plumbing Services</h5>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla
                                pariatur.....<a href="#" class="text-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-12">
                            <h5 class="font-weight-bold border-bottom pb-3">Overview</h5>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-5">
                                    <div class="my10">
                                        <span class="position-absolute"><i
                                                class="fas fa-suitcase text-orange"></i></span>
                                        <span class="pl25">3 years in business</span>
                                    </div>
                                    <div class="my10">
                                        <span class="position-absolute"><i class="fas fa-trophy text-orange"></i></span>
                                        <span class="pl25">150 hires</span>
                                    </div>
                                    <div class="my10">
                                        <span class="position-absolute"><i class="fas fa-bolt text-orange"></i></span>
                                        <span class="pl25">1 year on SwiftComply</span>
                                    </div>
                                    <div class="my10">
                                        <span class="position-absolute"><i
                                                class="fas fa-user-friends text-orange"></i></span>
                                        <span class="pl25">10 Employees</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-5">
                                    <div class="my10">
                                        <span class="position-absolute"><i class="fas fa-clock text-orange"></i></span>
                                        <span class="pl25">Open now: 10AM - 10PM</span>
                                    </div>
                                    <div class="my10">
                                        <span class="position-absolute"><i
                                                class="fas fa-map-marker-alt text-orange"></i></span>
                                        <span class="pl25">Kukatpally, Hyderabad, Telangana</span>
                                    </div>
                                    <div class="my10">
                                        <span class="position-absolute"><i
                                                class="far fa-credit-card text-orange"></i></span>
                                        <span class="pl25">Cash, Credit card</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-5">
                                <div class="col-12 col-sm-6 col-md-3 my-1">
                                    <div>
                                        <img src="assets/images/image7.jpg" class="img-fluid border-radius-10 w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 my-1">
                                    <div>
                                        <img src="assets/images/image7.jpg" class="img-fluid border-radius-10 w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 my-1">
                                    <div>
                                        <img src="assets/images/image7.jpg" class="img-fluid border-radius-10 w-100" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-3 my-1">
                                    <div>
                                        <img src="assets/images/image7.jpg" class="img-fluid border-radius-10 w-100" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 offset-lg-1 col-lg-4">
                    <div class="border border-radius-30">
                        <div class="row px-3">
                            <div class="col-12">
                                <div class="py-4">
                                    <img src="assets/images/user.png" class="img-fluid rounded-circle mx-auto d-block" alt=""
                                        width="120px">
                                </div>
                                <div class="pb-3">
                                    <span class="pr5 font-weight-bold">5</span><i
                                        class="fas fa-star text-orange mr-1"></i><i
                                        class="fas fa-star text-orange mr-1"></i><i
                                        class="fas fa-star text-orange mr-1"></i><i
                                        class="fas fa-star text-orange mr-1"></i><i
                                        class="fas fa-star text-orange mr-1"></i><span class="pl10">based on <strong
                                            class="text-orange">24 reviews</strong></span>
                                </div>
                                <div class="py-1">
                                    <span class="position-absolute"><i
                                            class="far fa-check-circle text-green fs16"></i></span><span
                                        class="pl30 text-green font-weight-bold">Top rated professional</span>
                                </div>
                                <div class="py-1">
                                    <span class="position-absolute"><i
                                            class="far fa-check-circle text-green fs16"></i></span><span
                                        class="pl30">cb</span>
                                </div>
                                <div class="py-1">
                                    <span class="position-absolute"><i
                                            class="fas fa-user-check text-green fs16"></i></span><span
                                        class="pl30">advdd</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row px-3">
                            <div class="col-12">
                                <div class="fs15 font-weight-bold">Check availabilty in your location</div>
                                <form>
                                    <div class="form-group">
                                        <label>Email / Mobile Number</label>
                                        <div class="inputWithIcon">
                                            <input type="text" name="" id="" class="form-control zip-codee"
                                                placeholder="Enter Your Zipcode" />
                                            <i class="far fa-arrow-alt-circle-right zipcodee-arrow"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="request-service-block">
                                    <div class="row py-1">
                                        <div class="col-12 col-md-8">
                                            <div class="d-flex">
                                                <div class="my-auto grease-drop-styles">
                                                    <i class="fas fa-tint"></i>
                                                </div>
                                                <div class="fs13 pl15 font-weight-bold my-auto">Grease Pump Out</div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div>
                                                <span class="fs11 text-grey">From</span><strong class="fs15"> ₹
                                                    200</strong>
                                            </div>
                                            <div class="fs11 text-grey">per 10 Gallons</div>
                                        </div>
                                    </div>
                                    <div class="pt-3 pb-1">
                                        <a href="#" class="btn btn-green w-100">Request the service</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-lg-7">
                    <h5>Reviews</h5>
                    <hr>
                    <div class="pb-3">Based on reviews of <a href="#" class="text-orange">All Services</a></div>
                    <div class="row py-1">
                        <div class="col-12 col-md-6 col-lg-6 my-1">
                            <div class="row">
                                <div class="col-7">
                                    <div class="font-weight-bold fs14">Value</div>
                                </div>
                                <div class="col-5">
                                    <div>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5 my-1">
                            <div class="row">
                                <div class="col-7">
                                    <div class="font-weight-bold fs14">Punctuality</div>
                                </div>
                                <div class="col-5">
                                    <div>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 my-1">
                            <div class="row">
                                <div class="col-7">
                                    <div class="font-weight-bold fs14">Quality</div>
                                </div>
                                <div class="col-5">
                                    <div>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5 my-1">
                            <div class="row">
                                <div class="col-7">
                                    <div class="font-weight-bold fs14">Communication</div>
                                </div>
                                <div class="col-5">
                                    <div>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                        <i class="fas fa-star text-orange mr5"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>