<div class="row p-0 p-sm-2 p-md-3 p-lg-3">
    <div class="col-12 px-3 new-project-card">
        <div class="border-radius-5 py-3">
            <img src="assets/images/image8.jpg" class="img-fluid rounded" alt="" />
        </div>
        <div class="fs17 h50">Independent House</div>
        <div>Kukatpally, Hyderabad</div>
        <div class="pt-1 pb-2 border-bottom-dashed-grey">
            <span>1500 sft</span>
            <span class="float-right">Starts From ₹ 1,50,000</span>
        </div>
        <div class="row">
            <div class="col-12 rating-block my-1">
                <div class="row">
                    <div class="col-12 py-1">
                        <div>
                            Listed On June 28, 2021
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 px-0 view-details-btn-block">
                <a routerLink="/PropertyDetails" class="view-details-btn btn btn-sm w-100">View Details <i
                        class="fas fa-arrow-right ml-2"></i></a>
            </div>
        </div>
    </div>
</div>