<div class="content">
    <div class="col-12">
        <form class="position-relative mx-0 mx-lg-3 d-block d-lg-none">
            <div class="form-group mb-0 has-search">
                <span class="fa fa-search search-bar-btn form-control-feedback"></span>
                <input type="text" class="form-control search-bar" placeholder="Hyderabad" />
            </div>
        </form>
    </div>

    <div class="container-fluid px-3 px-md-5">
        <div class="row">
            <!-- left side block start -->

            <div class="col-12 col-md-12 col-lg-8 my-2">
                <div class="border border-radius-5 p5">
                    <div>
                        <img src="assets/images/image2.jpg" class="img-fluid w-100 border-radius-5" alt="" />
                    </div>
                    <div class="row px7">
                        <div class="col-6 col-md-3 col-lg-3 px-2">
                            <div class="pt-2">
                                <img src="assets/images/image3.jpg" class="img-fluid border-radius-5" alt="" />
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 px-2">
                            <div class="pt-2">
                                <img src="assets/images/image4.jpg" class="img-fluid border-radius-5" alt="" />
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 px-2">
                            <div class="pt-2">
                                <img src="assets/images/image5.jpg" class="img-fluid border-radius-5" alt="" />
                            </div>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 px-2">
                            <div class="pt-2">
                                <img src="assets/images/image6.jpg" class="img-fluid border-radius-5" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-4">
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-8 my-auto">
                                <div>
                                    <span class="fs20 font-weight-bold">The Crystal Hyatt Place</span>
                                    <span class="text-muted fs11 font-weight-bold pl5">Hyderabad/KPHB</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-4 my-auto">
                                <div class="text-right">
                                    <span class="fs15 font-weight-bold">Price :</span>
                                    <span class="fs18 font-weight-bold pl20">₹1,50,000</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-8 col-lg-9">
                                <div class="py-3">
                                    <div class="text-grey fs11 font-weight-bold">2nd floor, Rd Number 4, above Laxmi
                                        Vilas Bank, KPHB, Kukatpally, Hyderabad</div>
                                </div>
                                <div class="row">
                                    <div class="col-3 col-md-2 my-1">
                                        <div class="font-weight-bold">Bathroom</div>
                                        <div class="py-1 text-grey">
                                            <i class="fas fa-bath"></i>
                                            <span class="pl5 fs11">2</span>
                                        </div>
                                    </div>
                                    <div class="col-3 col-md-2 my-1">
                                        <div class="font-weight-bold">Bedroom</div>
                                        <div class="py-1 text-grey">
                                            <i class="fas fa-bed"></i>
                                            <span class="pl5 fs11">2</span>
                                        </div>
                                    </div>
                                    <div class="col-4 col-md-3 my-1">
                                        <div class="font-weight-bold">Area Space</div>
                                        <div class="py-1 text-grey">
                                            <i class="fas fa-expand-arrows-alt"></i>
                                            <span class="pl5 fs11">2500<sup>2</sup>ft</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 col-lg-3">
                                <div class="py-2 text-right">
                                    <a href="#" class="mx-2 btn btn-sm share-btn_n_like-btn"><i
                                            class="fas fa-share-alt"></i> </a>
                                    <a href="#" class="btn btn-sm share-btn_n_like-btn">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-12 col-md-12 col-lg-10">
                                <h5 class="fs16 font-weight-bold mb-3">
                                    Description
                                </h5>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit essecillum dolore eu fugiat nulla pariatur.
                                </p>

                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit essecillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-10">
                                <h5 class="fs16 font-weight-bold mb-3">
                                    Amenities
                                </h5>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit essecillum dolore eu fugiat nulla pariatur.
                                </p>

                                <p class="text-muted mb-0">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi
                                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit essecillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <h5 class="fs16 font-weight-bold mb-3">
                                    Floor Plan
                                </h5>
                                <div>
                                    <img src="assets/images/floor-plans.jpg" class="img-fluid mx-auto d-block" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- left side block end -->

            <!-- Right side block start -->

            <div class="col-12 col-md-12 col-lg-4 my-2">
                <div class="row">
                    <div class="col-12">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15221.161168608633!2d78.3981165!3d17.4936507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe9811de65fd7228!2sExadata%20Consulting%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1623577710506!5m2!1sen!2sin"
                            width="100%" height="500px" class="border-radius-10" style="border: 0;" allowfullscreen=""
                            loading="lazy"></iframe>
                    </div>
                </div>
                <div class="border border-radius-5 my-3 p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex">
                                <div class="my-auto">
                                    <img src="assets/images/user.png" class="rounded-circle" width="60px" alt="" />
                                </div>
                                <div class="my-auto pl15">
                                    <h6 class="mb-1">Jonathan</h6>
                                    <small class="text-grey">joined on May 19, 2019</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-md-8">
                            <div class="text-center">
                                <a href="#" class="text-decoration-underline">View Profile</a>
                            </div>
                        </div>
                        <div class="col-4 col-md-4">
                            <div class="text-right">
                                <span><i class="far fa-star"></i></span>
                                <span class="pl10">4.8(198)</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-muted pt-4 pb-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                velit essecillum dolore eu fugiat nulla pariatur.
                            </p>

                            <div class="position-relative py-1">
                                <span class="font-weight-bold">Language :</span>
                                <span class="user-details">English</span>
                            </div>

                            <div class="position-relative py-1">
                                <span class="font-weight-bold">Response Rate :</span>
                                <span class="user-details">100%</span>
                            </div>

                            <div class="position-relative py-1">
                                <span class="font-weight-bold">Response Time :</span>
                                <span class="user-details">within an hour</span>
                            </div>

                            <div class="position-relative mt-4 py-1">
                                <span class="font-weight-bold">Contact With Host :</span>
                                <span class="">
                                    <a href="#"
                                        class="btn btn-sm border-primary btn-transparent text-primary font-weight-normal fs12 px-2 mx-1 my-auto">
                                        <span><i class="fas fa-envelope"></i></span>
                                        <span class="pl5">Email</span>
                                    </a>
                                    <a href="#"
                                        class="btn btn-sm border-primary btn-transparent text-primary font-weight-normal fs12 px-2 mx-1 my-auto">
                                        <span><i class="fas fa-phone-volume"></i></span>
                                        <span class="pl5">Call</span>
                                    </a>
                                    <a href="#"
                                        class="btn btn-sm border-primary btn-transparent text-primary font-weight-normal fs12 px-2 mx-1 my-auto">
                                        <span><i class="fas fa-sms"></i></span>
                                        <span class="pl5">SMS</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5 class="font-weight-bold py-3">Properties Nearby</h5>
                    </div>
                    <div class="col-12 py-2">
                        <div class="shadow p5 border-radius-5">
                            <div class="row">
                                <div class="col-4 my-auto pr-0">
                                    <img src="assets/images/image7.jpg" class="img-fluid border-radius-5 property-image"
                                        alt="" />
                                </div>
                                <div class="col-8 my-auto">
                                    <div class="fs18 font-weight-bold">₹1,50,000</div>
                                    <div class="text-grey">50 west, 19th Street, Hyderabad</div>
                                    <div class="row my-1">
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-bath"></i>
                                                <span class="pl5 fs11">2</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-bed"></i>
                                                <span class="pl5 fs11">2</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-expand-arrows-alt"></i>
                                                <span class="pl5 fs11">2500<sup>2</sup>ft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 py-2">
                        <div class="shadow p5 border-radius-5">
                            <div class="row">
                                <div class="col-4 my-auto pr-0">
                                    <img src="assets/images/image7.jpg" class="img-fluid border-radius-5 property-image"
                                        alt="" />
                                </div>
                                <div class="col-8 my-auto">
                                    <div class="fs18 font-weight-bold">₹1,50,000</div>
                                    <div class="text-grey">50 west, 19th Street, Hyderabad</div>
                                    <div class="row my-1">
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-bath"></i>
                                                <span class="pl5 fs11">2</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-bed"></i>
                                                <span class="pl5 fs11">2</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-expand-arrows-alt"></i>
                                                <span class="pl5 fs11">2500<sup>2</sup>ft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <div class="shadow p5 border-radius-5">
                            <div class="row">
                                <div class="col-4 my-auto pr-0">
                                    <img src="assets/images/image7.jpg" class="img-fluid border-radius-5 property-image"
                                        alt="" />
                                </div>
                                <div class="col-8 my-auto">
                                    <div class="fs18 font-weight-bold">₹1,50,000</div>
                                    <div class="text-grey">50 west, 19th Street, Hyderabad</div>
                                    <div class="row my-1">
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-bath"></i>
                                                <span class="pl5 fs11">2</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-bed"></i>
                                                <span class="pl5 fs11">2</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-expand-arrows-alt"></i>
                                                <span class="pl5 fs11">2500<sup>2</sup>ft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <div class="shadow p5 border-radius-5">
                            <div class="row">
                                <div class="col-4 my-auto pr-0">
                                    <img src="assets/images/image7.jpg" class="img-fluid border-radius-5 property-image"
                                        alt="" />
                                </div>
                                <div class="col-8 my-auto">
                                    <div class="fs18 font-weight-bold">₹1,50,000</div>
                                    <div class="text-grey">50 west, 19th Street, Hyderabad</div>
                                    <div class="row my-1">
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-bath"></i>
                                                <span class="pl5 fs11">2</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-3 col-lg-3">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-bed"></i>
                                                <span class="pl5 fs11">2</span>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-6 col-lg-6">
                                            <div class="py-1 text-grey">
                                                <i class="fas fa-expand-arrows-alt"></i>
                                                <span class="pl5 fs11">2500<sup>2</sup>ft</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right side block end-->
        </div>
    </div>
</div>