<div class="shadow px-3 border-radius-5">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 px-0">
            <div>
                <img src="assets/images/image1.jpg" class="img-fluid w-100" alt="" />
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9 py-3">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="fs16 font-weight-bold">3aa BHK Appartments</div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="text-left text-lg-right fs18 font-weight-bold">
                        ₹ 18.89 Lacs-32.95 Lacs
                    </div>
                </div>
            </div>
            <div class="text-grey font-weight-500 py-1 fs14">By Asiana Housing, Kukatpally,
                Hyderabad</div>
            <div class="my-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation.
            </div>
            <div class="pt-3">
                <span class="text-grey fs15">Details :</span>
                <span class="pl-4">1200 sq.ft</span>
            </div>
            <div>
                <span class="text-grey fs15">Status :</span>
                <span class="pl-4">Unfurnished, Immediately Available</span>
            </div>
            <div class="row pt-4">
                <div class="col-12 col-md-12 col-lg-7 my-auto">
                    <div class="">
                        <span class="mr-4 text-grey"><i class="fas fa-swimming-pool"></i>&nbsp;&nbsp;Swimming
                            Pool</span>
                        <span class="mr-4 text-grey"><i class="fas fa-dumbbell"></i>&nbsp;&nbsp;Gym</span>
                        <span class="mr-4 text-grey"><i class="fas fa-car fs20"></i>&nbsp;&nbsp;Parking</span>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-5 my-2 my-lg-auto">
                    <div class="text-center text-lg-right">
                        <a href="#" class="btn like-btn mr-3"><i class="far fa-heart"></i></a>
                        <a routerLink="/PropertyDetails" class="btn btn-md card-view-details-btn text-white">View1
                            Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>